.idea/
deployment/
__pycache__/
logs/
data/
utils/running.json
*.csv
clash/
test*.py
cookie.txt
analyze/20240725_17_55_04_youtube.com.pcap
*.pcap
*.json
*url_list.txt
xx-net/
filelist.txt
sever_info.py
testExcludeUrl.txt
